<form action='/' method='post' id='wallpaper-form'>
  <input type='text' name='background' value = '000'/>
  <input type='text' name='foreground' value = 'fff'/>
  <input type='text' name='height' value = '100'/>
  <input type='text' name='width' value = '100'/>
  <input type='submit' value='Submit' />
</form>
